# build and cache
cache/
out/
!reports/out/
!reports/out/.empty
zkout/

# general
.env

# editors
.idea
.vscode

# Vs code spelling extension
cspell.json

node_modules

# ignore foundry deploy artifacts
broadcast/
